<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" type="text/css" href="mystyle.css">
    </head>
    <body>
        <h2>About Me</h2>
        <p>I am a highschool studentMy birthday is November 14. I am 17 years old.
         On my free time I like to draw and do some art. I also like to play videogames
         I have a dog named simba and he's really energetic.</p>
         <h2>Hobbies</h2>
         <ul>
             <li>Draw</li>
             <li>Watch Anime</li>
             <li>Listen to Kpop</li>
         </ul>
         <img src="static/images/drawing.jpg">
    </body>
</html>
